<ion-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="me@gmail.com" ng-model="user.email">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="mySECRETpassword" ng-model="user.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-positive button-block" ng-click="login()">Let me in</button>
      <div class="error" ng-if="errorMessage" ng-bind="errorMessage">
      </div>
      <br><br><br>
      <button class="button button-stable button-block" ui-sref="reset-password">
        Can't remember my password
      </button>
      <button class="button button-stable button-block" ui-sref="signup">
        FREE Sign Up
      </button>
    </div>
  </ion-content>
</ion-view>